@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-book.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-heavy.ttf");
  font-weight: 600;
  font-display: swap;
}
