@import "./tailwind.css";
@import "./fonts.css";

@import "./main.css";
@import "./layout.css";
@import "./wrapper.css";

@import "./version.css";
@import "./search.css";
@import "./sidebar.css";
@import "./table-of-contents.css";
@import "./footer.css";
@import "./content.css";
@import "./codehike.css";

@import "@code-hike/mdx/dist/index.css";

body {
  @apply overflow-x-hidden;
}

.button-border {
  @apply border-button;
  @apply border-black/10;
  @apply dark:border-transparent;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

.no-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.border-control {
  @apply border-divider border-opacity-10 dark:border-divider-dark dark:border-opacity-60;
}

strong {
  @apply font-semibold;
}
