.sidebar-heading {
  @apply capitalize;
  @apply font-semibold;
  @apply text-lg;
}

.sidebar-subheading {
  @apply capitalize;
  @apply py-3;
  @apply text-text;
  @apply dark:text-text-dark;
  @apply font-normal;
}

.sidebar-subheading-hover {
  @apply border-l-2;
  @apply border-primary;
  @apply py-3;
  @apply pl-3;
  @apply -ml-3.5;
  @apply text-primary;
}

.sidebar-subheading:hover {
  transition-property: color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  @apply sidebar-subheading-hover;
}

.sidebar-subheading-active {
  @apply sidebar-subheading-hover;
  @apply font-semibold;
}

.sidebar-section {
  @apply my-4;
  @apply border-l-2;
  @apply border-divider;
  @apply border-opacity-10;
  @apply dark:border-opacity-10;
  @apply dark:border-divider-dark;
}
